<script language="JavaScript">
    function openMultiWindow(element)
    {
        var vWinUsers = window.open('$req.contextPath/secure/popups/UserPickerBrowser.jspa?formName=jiraform&multiSelect=true&element=' + element, 'UserPicker', 'status=yes,resizable=yes,top=100,left=200,width=750,height=750,scrollbars=yes');
        vWinUsers.opener = self;
        vWinUsers.focus();
    }

#if ($canPerformAjaxSearch)
    YAHOO.util.Event.addListener(window, 'load', function() {
       var fieldName = '$windowName';
       var limit = $ajaxLimit;
       var yuiConfig = {
                minQueryLength : 2,
                queryDelay : 0.25,
                cacheResults : false,
                maxResultsDisplayed : limit,
                delimChar : [',']
        }
        var config = {
            inputId : '$windowName',
            containerId : '${windowName}_container',
            resultsId : '${windowName}_results',
            dwrInvokerFunc : function(query, dwrCallContext)
            {
                AjaxUserPicker.getUsers(fieldName, query, dwrCallContext);
            }
        };
        new atlassian.jira.widget.AutoComplete(config, yuiConfig);
     });
#end
</script>

#set ($userString = "")
#if ($value)
    #foreach ($selectedValue in $value)
        #if ($userString == "")
            #set ($userString=$selectedValue)
        #else
            #set ($userString="${userString}, $selectedValue")
        #end
    #end
#end


#if ($canPerformAjaxSearch)<div class="ajax_autocomplete" id="${windowName}_container">#end<textarea id="$windowName"
          name="$windowName"
          cols="40"
          rows="3"
          style="width: 30%;">$userString</textarea>

    <a href="javascript:openMultiWindow('$windowName');"><img title="$i18n.getText('user.picker.select.users')" name="multiuserImage" src="${req.getContextPath()}/images/icons/filter_public.gif" hspace="0" height="16" width="16" border="0" align="top" /></a>
    
    <br/>#if ($canPerformAjaxSearch)<div id="${windowName}_results" class="ajax_results"></div><font size="1">${i18n.getText('user.picker.ajax.desc')}</font></div>#end
