<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0" width="40%">
        <span class="label">The value of selected field must match specified pattern:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <select id="fields" name="fields">
            #foreach ($val in ${fieldsList})
	                <option value="${val.id}"
	                #if(${val.id.equals($selectedField.id)})
	                    SELECTED
	                #end
                >${val.name}</option>
            #end
        </select>
	<br><font size="1">Select field to match and replace</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Specify pattern to check:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        #if (${pattern})
            <input name="patternEdit" id="patternEdit" value="${pattern}">
        #else
            <input name="patternEdit" id="patternEdit">
        #end
	<br><font size="1">The pattern to validate match (Supports Perl-style patterns)</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Specify replacement form matched text:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        #if (${pattern})
            <input name="replacementEdit" id="replacementEdit" value="$replacement">
        #else
            <input name="replacementEdit" id="replacementEdit">
        #end
	<br><font size="1">Replacement for matched text</font>
    </td>
</tr>