<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0" width="40%">
        <span class="label">The field whith user to get it's properties:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
		<select id="fieldUser" name="fieldUser">
	    	#foreach ($val in $fieldList)
	        	<option value="${val.id}"
	                #if(${val.id.equals($selectedUserField.id)})
	                    SELECTED
	                #end
                >${val.name}</option>
	        #end
	        </select>
        <br><font size="1">Choose the field.</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Source User Property name (key):</span>
    </td>
    <td bgcolor="ffffff" nowrap>
		<input type="text" name="userPropKey" id="userPropKey" value="$userPropKey"/>
        <br><font size="1">Type User Property key.</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Destination Issue Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
		<select id="field" name="field">
	    	#foreach ($val in $fieldList)
	        	<option value="${val.id}"
	                #if(${val.id.equals($selectedField.id)})
	                    SELECTED
	                #end
                >${val.name}</option>
	        #end
	        </select>
        <br><font size="1">Choose the field.</font>
    </td>
</tr>


