<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Select the project and issue type, in which issue will be created</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <select name="issuetypeid" id="issuetypeid" class="imagebacked">
            #foreach ($fcs in $FieldConfigSchemes)
                #if ($fcs && $fcs.getAssociatedProjects())
                    #set ($projects = $!fcs.getAssociatedProjects())
                    #foreach ($project in $projects)
                        #if ($project)
                            <optgroup label="$project.name">
                                #set ($types = $!issueTypeManager.getIssueTypesForProject($project))

                                #foreach($issuetype in $!types)
                                    #if ($issuetype)
                                        #if (!${issuetype.isSubTask()})
                                            #set ($opt = "$!{project.id}_$!{issuetype.id}")
                                            <option id="$opt" value="$opt" style="background-image: url('${issuetype.getIconUrl()}');" #if ($!{issuetypeid.equals($!opt)}) SELECTED #end>
                                              ${issuetype.name}
                                            </option>
                                        #end
                                    #end
                                #end
                             </optgroup>
                         #end
                    #end
                #end
            #end
        </select>
        <br><font size="1">Choose the project and issue type.</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Choose the link type, with whitch issues will be linked</span>
    </td>
    <td bgcolor="ffffff" nowrap>
		<select id="linkType" name="linkType">
	    	#foreach ($val in $linkTypeList)
	        	<option value="${val.id}"
	                #if($!{val.id.equals($selectedLType.id)})
	                    SELECTED
	                #end
                >${val.name}</option>
	        #end
	        </select>
        <br><font size="1">Choose link type</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">New issue will linked as outward or inward?</span>
    </td>
    <td bgcolor="ffffff" nowrap>
		<select id="linkSide" name="linkSide">
	    	#foreach ($val in $linkSideList)
	        	<option value="${val}"
	                #if($!{val.equals($!selectedSide)})
	                    SELECTED
	                #end
                >${val}</option>
	        #end
	        </select>
        <br><font size="1">New issue will be outward or inward?</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Check it if you want to clone attachmments</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="radio" name="CloneAttachments" value="1" #if (!$CloneAttachments || $!{CloneAttachments.equals("1")} )CHECKED #end  >Clone attachments<br>
        <input type="radio" name="CloneAttachments" value="0" #if ($!{CloneAttachments.equals("0")} )CHECKED #end>Do not copy attachments to new issue
        <br><font size="1">Clone attachments?</font>
    </td>
</tr>

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Check it if you want to clone issue links</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="radio" name="CloneLinks" value="1" #if (!$CloneLinks || $!{CloneLinks.equals("1")} )CHECKED #end  >Clone links<br>
        <input type="radio" name="CloneLinks" value="0" #if ($!{CloneLinks.equals("0")} )CHECKED #end>Do not copy links to new issue
        <br><font size="1">Clone issue links?</font>
    </td>
</tr>