<html>
    <head>
        <title>Administer User Dashboards</title>
    </head>

    <body>
      <br>
		<table class="jiraform maxWidth" width="100%">
			<tbody><tr>
			    <td class="jiraformheader">
			    	<h3 class="formtitle">The dashboard was successfully set</h3>
		    	</td>
			</tr>

			<tr>
			    <td class="jiraformbody">
                                <table cellpadding="2" cellspacing="2">
                                        <tbody><tr>
                                                <td width="50%" align="right">
                                                    <a href="$req.contextPath/secure/admin/AdministerUserDashboards!default.jspa">Set dashboard again&nbsp;<img src="$req.contextPath/images/icons/arrow_right_small.gif" alt="arrow"></a>
                                                </td>
                                        </tr>
                                        </tbody></table>
			    </td>

		    </tr>
		</table>

    </body>
</html>