<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0" width="40%">
        <span class="label">$i18n.getText("command.label")</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="radio" name="userSelect" value="assignee"
        	#if (!$val) CHECKED #end #if ($val) #if($val == 'assignee') checked="checked" #end #end>$i18n.getText("user_select.assignee")<br />
        <input type="radio" name="userSelect" value="reporter"
        	#if ($val) #if ($val == 'reporter') checked="checked" #end #end>$i18n.getText("user_select.reporter")<br />
        <input type="radio" name="userSelect" value="currentuser"
        	#if ($val) #if ($val == 'currentuser') checked="checked" #end #end>$i18n.getText("user_select.current_user")<br />
    	<input type="radio" name="userSelect" id="userSelect" value="selectuser"
        	#if ($val) #if ($val == 'selectuser') checked="checked" #end #end>$i18n.getText("user_select.select_user")<br />
		#parse("templates/plugins/fields/edit/edit-multiuser.vm")
		<script type="text/javascript">
			function tickSelectRadio() {
				document.getElementById('userSelect').checked=true;
			}
			document.getElementById('$customField.id').onclick=tickSelectRadio;
		</script>	
    </td>
</tr>